.main-body {
  background-color: black;
  /*margin: 1000; un peu douteux ça*/
  height: 1000;
}

.main-div {
  background: url("../images/background-image.png") scroll no-repeat top center;
}

#credits li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: 0 15px;
}

#credits ul {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 16px;
  background-color: rgba(100, 100, 100, 0.5);
}
