.main-body {
  background-color: black;
  /*margin: 1000; un peu douteux ça*/
  height: 1000;
}

.main-div {
  background: url("../images/background-image.png") scroll no-repeat top center;
}

#credits li {
  font-size: 2em;
}
